// text
$accentTextCl: rgb(248, 196, 128);

// decor
$boxShadowCl: rgba(248, 196, 128, 0.6);
$borderCl: rgb(248, 196, 128);
$backgroundCl: rgba(249, 165, 56, 0.9);

// transition
$transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);

// links
$linkCl: rgb(248, 196, 128);
$linkHoverCl: #f29553;

// breakpoints
$tabletWidth: 768px;
$mobileWidth: 320px;
