@import "../../stylesheet/_vars";

.detailsContent {
  display: flex;
  flex-direction: column;
  gap: 10px;

  height: 100vh;
  padding-top: 40px;

  @media screen and (min-width: $tabletWidth) {
    flex-direction: row;
    gap: 30px;
  }
}

.summaryContent {
  display: flex;
  align-items: center;

  width: 200px;

  font-size: 16px;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.imgWrapper {
  position: relative;

  height: 75%;
  width: 35%;
  max-width: 420px;

  overflow: hidden;
  border-radius: 10px;
  box-shadow: 1px 1px 15px 0px $boxShadowCl;

  &:hover .summaryWrapper {
    transform: translateY(0);
    transition: $transition;
  }

  @media screen and (max-width: $tabletWidth) {
    width: 100%;
    max-width: 320px;
  }
}

.summaryWrapper {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  overflow: auto;

  padding: 10px;

  background-color: $backgroundCl;
  transform: translateY(calc(100% + 1px));

  transition: $transition;
}

.title {
  padding-right: 30px;

  border-right: 1px solid $borderCl;
}

.image {
  height: 100%;
  width: 100%;

  border-radius: 10px;
}

.table {
  height: 400px;
  margin-top: 20px;

  font-size: 16px;

  border-collapse: collapse;
}

.tHeading {
  color: $accentTextCl;
  font-weight: 700;
}

.tHeading,
.tData {
  padding: 0.5rem;
  text-align: left;
}
.tData {
  border-left: 1px solid $borderCl;
}

.link {
  text-decoration: underline;
}

.homeLink {
  font-size: 12px;
}

.scheduleDays {
  padding-right: 10px;
}

.scheduleTime {
  padding-left: 10px;
  border-left: 1px solid rgb(190, 190, 190);
}
