@import "../../stylesheet/_vars";

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px 15px;
}

.item {
  flex-basis: calc((100% - 60px) / 5);

  &:hover {
    box-shadow: 1px 1px 15px 0px $boxShadowCl;
  }
}
