@import "../../stylesheet/_vars";

// .labelText {
//   display: block;
// }

.input {
  width: 40%;
  margin: 10px auto 0;
  padding: 5px 10px;

  border: none;
  border-radius: 30px;

  &:hover:not(:focus) {
    box-shadow: 0px 0px 4px 1px $boxShadowCl;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid $borderCl;
  }

  @media screen and (max-width: $tabletWidth) {
    width: 100%;
    max-width: 320px;
  }
}
